include AUTHORS
include ChangeLog

include guestagent/db/sqlalchemy/migrate_repo/migrate.cfg
include guestagent/db/sqlalchemy/migrate_repo/README
include guestagent/db/sqlalchemy/migrate_repo/versions/*.sql
include etc/*.*

exclude .gitignore
exclude .gitreview

global-exclude *.pyc
