guest_id = {{ guest_id }}
tenant_id = {{ tenant_id }}

# Root configuration
root_grant = ALL
root_grant_option = True
#root_grant = ALTER ROUTINE, CREATE, ALTER, CREATE ROUTINE, CREATE TEMPORARY TABLES, CREATE VIEW, CREATE USER, DELETE, DROP, EVENT, EXECUTE, INDEX, INSERT, LOCK TABLES, PROCESS, REFERENCES, SELECT, SHOW DATABASES, SHOW VIEW, TRIGGER, UPDATE, USAGE
#root_grant_option = False

# used by passlib to generate root password
#default_password_length = 36

# Users to ignore for user create/list/delete operations
ignore_users = os_admin
ignore_dbs = lost+found, mysql, information_schema

datastore_manager = mysql
backup_strategy = InnoBackupEx
mount_point = /var/lib/mysql
service_registry_ext = mysql:trove.guestagent.datastore.mysql.manager.Manager